.bg {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;
  background-image: url("/assets/Update2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  --duration: 1.2s;
  --stagger: 0.25s;
}

.bg-track {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  animation: flowUp 10s ease-in-out infinite alternate;
  z-index: -1;
}

.bg-img {
  position: absolute;
  display: block;
  width: 400px;
  height: 400px;
  object-fit: contain;
  image-rendering: pixelated;
  top: 0;
  left: 0; /* базовая точка — верхний левый угол родителя */

  border: 2px solid;
  border-image: linear-gradient(90deg, #eff3ef, #cfd8cc) 1;
  background-color: #7d8a90;
  background-image: repeating-linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.12) 0 1px,
      transparent 1px 4px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.18) 0 1px,
      transparent 1px 4px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.12) 0 1px,
      transparent 1px 8px
    );
  box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.2),
    inset -2px -2px 0 rgba(0, 0, 0, 0.35);
  clip-path: inset(100% 0 0 0);
  animation-name: show-up;
  animation-duration: var(--duration);
  animation-delay: calc(var(--idx) * var(--stagger));
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  transition: filter 0.3s 0.15s ease, opacity 0.3s 0.15s ease,
    transform 0.3s 0.15s ease;
  filter: blur(0px);
  transform: translate(var(--translate-x, 0), var(--translate-y, 0));
}
.bg-img[data-hovered][data-matched="true"] {
  transform: translate(var(--translate-x, 0), var(--translate-y, 0)) scale(1.2);
}
.bg-img[data-hovered][data-matched="false"] {
  filter: blur(5px);
}
.bg-track[data-hovered] {
  animation-play-state: paused;
}

@keyframes flowUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30%);
  }
}

@keyframes show-up {
  from {
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }

  to {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}
