.Portal {
  --flip-duration: 300ms;
  --timing-f: cubic-bezier(0.5, 0, 0.5, 1);
}
.Button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  padding: 0 0.875rem;
  margin: 0;
  outline: 0;
  border: 1px solid var(--secondary);
  border-radius: 0.375rem;
  background-color: var(--camel);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: var(--primary);
  user-select: none;

  @media (hover: hover) {
    &:hover {
      background-color: var(--accent);
    }
  }

  &:active {
    background-color: var(--accent);
  }

  &:focus-visible {
    outline: 2px solid var(--warning);
    outline-offset: -1px;
  }
}

.Backdrop {
  position: fixed;
  min-height: 100dvh;
  inset: 0;
  background-color: black;
  opacity: 0.2;
  transition: opacity 150ms cubic-bezier(0.45, 1.005, 0, 1.005);

  /* iOS 26+: Ensure the backdrop covers the entire visible viewport. */
  @supports (-webkit-touch-callout: none) {
    position: absolute;
  }

  @media (prefers-color-scheme: dark) {
    opacity: 0.7;
  }

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
  }
}

.Popup {
  --delta-x-poup: var(--dx);
  --delta-y-poup: var(--dy);
  --delta-w-poup: var(--dw);
  --delta-h-poup: var(--dh);
  box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  inset: 0; /* fullscreen */
  padding: 1.5rem;
  background-color: black;
  color: gray/10;

  transform-origin: top left;
  /* начальная позиция FLIP */
  &[data-flip="invert"] {
    transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px))
      scale(var(--dw), var(--dh));
  }

  &[data-flip="play"] {
    transform: none;
    transition: transform var(--flip-duration) var(--timing-f);
  }
  &[data-ending-style] {
    transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px))
      scale(var(--dw), var(--dh));
    transition: transform var(--flip-duration) var(--timing-f),
      opacity var(--flip-duration) var(--timing-f);
    opacity: 0;
  }
}

.Title {
  margin-top: -0.375rem;
  margin-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.0025em;
  font-weight: 500;
}

.Description {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: gray/30;
}

.Actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.Img {
  &[data-flip="invert"] {
    transform: translate(calc(var(--dx) * 1px), calc(var(--dy) * 1px))
      scale(var(--dw), var(--dh));
  }
  &[data-flip="play"] {
    transform: none;
    transition: var(--flip-duration) var(--timing-f);
  }
}
