@import "modern-normalize";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap");
@font-face {
  font-family: "VacationPostcard";
  src: url("./fonts/VacationPostcardNf-gDnP.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary: #2a493d;
  --secondary: #ffffff;
  --accent: #489fb5;
  --warning: #ba1200;
  --camel: #b88b4a;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  text-shadow: 3px 4px 2px black;
  color: var(--secondary);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-inline: 20px;
}
