.bob{
    position: absolute;
transform-origin: center center;
 --x-px: calc(var(--x) * 1px); 
 --y-px: calc(var(--y) * 1px);
 transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%));
 image-rendering: pixelated;
 pointer-events: none;
 animation: swing 2s ease-in-out infinite;
  z-index: 100;
}

@keyframes swing {
  0%, 100% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%)) rotate(-5deg);
  }
  25% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%)) rotate(3deg);
  }
  50% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%)) rotate(-3deg);
  }
  75% {
    transform: translate(calc(var(--x-px) - 50%), calc(var(--y-px) - 50%)) rotate(5deg);
  }
}